<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About SiteName</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/menu.css">
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"          rel="stylesheet">
        <!-- end google fonts -->
    </head>
    <%- include('./components/nav') %>  
    <body>      
         <div class="content">
            <div class="center title">About Us</div>
            <div class="p overflow">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea velit sequi fugiat nostrum, minima quidem rerum aperiam dolore assumenda aliquid accusantium nam similique totam voluptate vel at corporis hic explicabo maiores error inventore pariatur amet numquam. Consectetur mollitia aperiam quisquam iure delectus rerum excepturi laboriosam fuga id libero cum, ipsa cupiditate sed eum veniam fugit quo architecto sapiente illum? Nemo recusandae ad at eveniet suscipit aliquam voluptas mollitia perferendis. Natus omnis exercitationem facilis assumenda dolores saepe dignissimos minima sint. Soluta quibusdam laboriosam amet tempore delectus impedit nulla vitae ipsa dolorum tempora aut incidunt unde, perferendis commodi voluptatem tenetur inventore alias?
            </div>
            <div class="p">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea velit sequi fugiat nostrum, minima quidem rerum aperiam dolore assumenda aliquid accusantium nam similique totam voluptate vel at corporis hic explicabo maiores error inventore pariatur amet numquam. Consectetur mollitia aperiam quisquam iure delectus rerum excepturi laboriosam fuga id libero cum, ipsa cupiditate sed eum veniam fugit quo architecto sapiente illum? Nemo recusandae ad at eveniet suscipit aliquam voluptas mollitia perferendis. Natus omnis exercitationem facilis assumenda dolores saepe dignissimos minima sint. Soluta quibusdam laboriosam amet tempore delectus impedit nulla vitae ipsa dolorum tempora aut incidunt unde, perferendis commodi voluptatem tenetur inventore alias?
            </div>
        </div>
    </body>
</html>