
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <!-- end google fonts -->
     <link rel="stylesheet" href="../css/menu.css">
    <title>SiteName</title>
</head>
<%- include('./components/nav') %>  
<body>
   <div class="content">
       <div>
           <img class="tech left" src="../img/tech-1.png" alt="TECH">
       </div>
       <div class="center title">Web Supporter</div>
       <h1>What We Do:</h1>
       <div class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsam enim nostrum ut tempore laudantium? Vitae dolor at distinctio provident consectetur eos iusto asperiores cumque, sit ullam labore eum dolores iure atque odit repellendus dignissimos error in non veritatis quisquam earum voluptas voluptatum. Velit qui repudiandae minus voluptatum exercitationem quasi laboriosam laborum tempora deserunt odit id soluta sit recusandae voluptates, ratione distinctio autem ex eos amet adipisci iusto magni aperiam! Excepturi aliquid repellat ducimus commodi impedit rem laborum velit aliquam placeat saepe. Ratione fugit pariatur vel itaque. Saepe, ipsum, eligendi suscipit voluptatibus dolores quisquam nihil voluptates earum cupiditate fugiat facilis hic quo? Quos voluptate  amet nulla! Delectus, neque enim iste in doloribus ad est. 
       </div>
       <div class="p">   
        Veniam suscipit aliquid dolore sunt, ipsa aut, voluptate praesentium quo nam voluptatem, incidunt animi voluptas tenetur quos rerum laborum! Voluptas, ipsa nemo natus cum iure est odio alias ea nisi illum distinctio nobis voluptatum ut quae assumenda ipsum laboriosam. Consequuntur, porro deserunt eaque odio perspiciatis reiciendis facere aliquam molestias magnam tempore minima alias vero earum natus. Quam delectus fugiat deleniti ducimus omnis doloremque ipsa voluptas beatae maxime harum sequi exercitationem incidunt velit autem ea expedita modi amet recusandae, inventore cumque corrupti. Nisi tenetur adipisci eos odio dignissimos veniam sunt corrupti porro accusantium, iusto natus. Voluptates vitae maiores laudantium vel modi doloremque delectus sint at autem architecto facilis unde minus, repellendus neque dolorem quidem quam explicabo et consequatur repellat fugit omnis debitis. Blanditiis optio atque, consequuntur iusto eius deleniti sunt ullam sit ad tempore odio adipisci ipsa?</div>
        </div> 
</body>
